h1 button {
  float: right;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog {
  max-width: 66em;
  width: 100%;
  padding: 2em;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f4f4f8;
  border: 5px solid #fff4;
}

dialog input {
  box-sizing: border-box;
  width: calc(100% - 8px); /* to match the <x-keyboard> 4px padding */
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

dialog p {
  margin: 1em 4px 0; /* to match the <x-keyboard> 4px padding */
  text-align: right;
}

dialog p span {
  float: left;
  font-size: small;
}

dialog p a {
  color: brown;
}
