#demo div {
  width: 100%;
  max-width: 54em;
  box-sizing: border-box;
  margin: auto;
}

#demo input {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#demo p {
  margin: 1em 0;
  text-align: right;
}

#demo p span {
  float: left;
  font-size: small;
}

#demo p a {
  color: brown;
}
