
/**
 * tweaks for IE6/7/8
 */

ul#keyboard li .altgr,
ul#keyboard li .lafayette,
ul#keyboard li .secondary {
  display: none;
}

.altgr     ul#keyboard li .altgr,
.home      ul#keyboard li .lafayette,
.extra     ul#keyboard li .lafayette,
.extra     ul#keyboard li .secondary,
.lafayette ul#keyboard li .lafayette {
  display: block;
}

ul#keyboard li.letter em.lafayette.secondary,
ul#keyboard li.letter strong.lafayette.secondary {
  display: none;
}

.extra ul#keyboard li.letter em.lafayette.secondary,
.extra ul#keyboard li.letter strong.lafayette.secondary {
  display: block;
}

