/******************************************************************************
 * Keyboard layout
 */

/* primary lafayette keys */
kbd .level3,
kbd .level4 {
  color: green;
  opacity: 0;
}

/* AltGr keys */
kbd .level5,
kbd .level6 {
  color: blue;
  opacity: 0;
}

/* qwerty|lafayette|altgr class switcher */
.qwerty    kbd.qwerty,
.extra     #key_AC10,
.lafayette #key_AC10 {
  background-color: #fdd;
}
.home      kbd .level3,
.home      kbd .level4,
.lafayette kbd .level3,
.lafayette kbd .level4,
.extra     kbd .level3,
.extra     kbd .secondary,
.altgr     kbd .level5,
.altgr     kbd .level6 {
  opacity: 1;
}

/* hide secondary lafayette keys by default */
.home      kbd .secondary,
.lafayette kbd .secondary {
  opacity: 0;
}

/* altgr */
.altgr #key_AD02,
.altgr #key_AD03,
.altgr #key_AC01,
.altgr #key_AC02,
.altgr #key_AC03,
.altgr #key_AC04,
.altgr #key_RALT {
  background-color: #ddf;
}
.altgr kbd span {
  opacity: 0.2;
}
.altgr kbd .level3,
.altgr kbd .level4 {
  opacity: 0;
}
.altgr kbd .level5,
.altgr kbd .level6 {
  opacity: 1;
}
.altgr #key_RALT span {
  opacity: 1;
  color: blue;
}

.home      #navHome,
.extra     #navExtra,
.lafayette #navLafayette,
.qwerty    #navQwerty,
.altgr     #navAltGr {
  background-color: #fdd !important;
}


/******************************************************************************
 * Description
 */

/* description block */

#description {
  overflow: hidden;
  position: relative;
  height: 350px;
  width: 780px;
  /*margin: 0 auto;*/
  margin: 0 -20px;
  /*border: 1px solid;*/
}

#description div {
  position: absolute;
  top: 0;
  width: 620px;
  height: 300px;
  margin: 0 58px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

#description kbd {
  margin-bottom: 0.5em;
}

#description a {
  color: brown !important;
}

#description kbd {
  background: white;
  border-color: #ddd #bbb #bbb #ddd;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  padding: 1px 3px;
  white-space: nowrap;
}

/* description selector */

#selector {
  text-align: center;
}

#selector a {
  color: brown;
  background-color: white;
  text-decoration: none;
  border: 1px solid brown;
  margin-left: 1px;
  padding: 4px 8px;
}

#selector a:hover {
  background-color: #fff0f0;
}

#selector a:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#selector a:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/******************************************************************************
 * Download
 */

.download dd {
  padding-bottom: 10px;
}

.download dt a {
  color: brown !important;
}

code {
  background-color: #dde;
}
