a, a:hover, a:visited, a:active {
  color: brown;
}

code {
  background-color: #eef;
  padding: 2px;
}

kbd {
  background: white;
  border-color: #ddd #bbb #bbb #ddd;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin-bottom: 0.5em;
  padding: 1px 3px;
  white-space: nowrap;
}

#intro {
  padding: 0;
  width: 664px;
  margin: 20px auto;
}

.highlight {
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 15px;
}
