h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
}

h1 + p {
  margin-top: 0.5em;
  color: #c8a;
}

h1, h2 {
  color: brown;
  border-bottom: 1px inset brown;
}

img {
  max-width: 100%;
}

dd, dt {
  margin-bottom: 0.5em;
}

table {
  width: 100%;
}

th {
  /* font-weight: normal; */
}

footer {
  border-top: 1px solid brown;
  text-align: right;
  padding: 0.2rem 0 0.5rem;
}

footer small {
  float: left;
}

footer a {
  color: brown;
}

/******************************************************************************
 * Fixed width layout (780px)
 */

html {
  background-color: #ccc;
}

body {
  width: 740px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: white;
  color: black;
  box-shadow: 0px 1px 10px #888;
}
