html {
  background-color: #ccc;
  height: 100%;
}

body {
  margin: auto;
  padding: 20px;
  max-width: 54em;
  min-height: calc(100% - 40px);
  font-family: sans-serif;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fdfdfd;
  color: #333;
  box-shadow: 0px 1px 10px #888;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
}

h1, h2 {
  color: brown;
  border-bottom: 1px solid brown;
}

h2 {
  margin-top: 2em;
}

h2 a, h3 a {
  display: none;
}

h3 a.download {
  font-size: 16px;
}

h2:hover a, h3:hover a, h3 a.download {
  display: inline;
}

h3 {
  color: #333;
  border-bottom: 1px dotted #333;
}

header p {
  margin-top: 0.5em;
  color: #735;
}

#intro {
  padding: 0;
  margin: 20px;
}

#intro nav {
  margin-top: 0.5em;
  text-align: center;
}

#intro nav a,
#intro nav a:hover,
#intro nav a:active,
#intro nav a:visited,
#intro nav button {
  display: inline-block;
  margin: 0 1.6em 0 0;
  padding: 8px;
  font-family: sans-serif;
  font-size: 1.2em;
  text-decoration: none;

  color: #333;
  background-color: #e4e4e4;
  border: 1px solid #6668;
  border-radius: 5px;
}

#intro nav a:hover,
#intro nav button:hover {
  border: 1px solid brown;
}

#intro nav button {
  font-weight: bold;
  cursor: pointer;
}

.highlight {
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 15px;
}

dd, dt {
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

pre {
  margin: -0.5em 0;
  padding: 0.5em 0;
  font-size: 14px;
  background-color: #eef;
}

a, a:hover, a:visited, a:active {
  color: brown;
}

code {
  background-color: #eef;
  padding: 2px;
}

kbd {
  background: white;
  border-color: #ddd #bbb #bbb #ddd;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin-bottom: 0.5em;
  padding: 1px 3px;
  white-space: nowrap;
}

footer {
  color: brown;
  margin-top: 3em;
  border-top: 1px solid brown;
  text-align: right;
}
