/**
 * Transitions -- ignored by IE<10 and older browsers
 */

#keyboard kbd,
#keyboard span {
  transition-duration: 1s;
  transition-property: opacity, background-color;
}

#description div {
  transition-duration: 1s;
  transition-property: transform, opacity;
}

#description div[smil=idle] {
  opacity: 0;
  transform: scale(0.3) translate(+160%);
}

#description div[smil=active] {
  opacity: 1;
}

#description div[smil=done] {
  opacity: 0;
  transform: scale(0.3) translate(-160%);
}
